.imgdiv {
  position: relative;
}

.singlevideo {
  margin: 1rem;
  padding: 1rem;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: red;
  background-color: transparent;
  border: none;
}

.btna {
  color: red;
  background-color: transparent;
}

.detailv {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
}

.pdiv {
  display: flex;
  gap: 5px;
  align-items: center;
}

.iconbtn {
  background-color: white;
  border: none;
  font-size: 20px;
}

.addp {
  font-size: 24px;
}

.mainimg {
  width: 600px;
}

.playadd {
  font-size: 28px;
  position: relative;
}

.imgpp {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.titlep {
  font-weight: bolder;
  font-size: 18px;
}

.comment {
  margin-top: 1.5rem;
}

.cmt {
  font-size: 20px;
  position: relative;
}

.textarea {
  resize: none;
  padding: 0.4rem;
}

.commentarea {
  position: absolute;
  left: -2540%;
  top: 280%;
}

.cmtbtn,
.addlistbtn {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  background-color: #3498db;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid #3498db;
  display: inline-block;
  text-align: center;
}

.commbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.delbtn {
  background-color: white;
  border: none;
  font-size: 16px;
}

.playinputdiv {
  position: absolute;
  top: 200%;
  left: -600%;
}

.commentbtnn {
  background-color: white;
  border: none;
  font-size: 20px;
}
